name: CI-CD
on:
  push: 
    branches: ["main"]
  workflow_dispatch:

jobs: 
  CI:
    runs-on: ubuntu-latest
    steps: 
      - name: Obter código
        uses: actions/checkout@v4.2.0 

      - name: Docker Login
        uses: docker/login-action@v3.3.0
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PWD }}

      - name: Build and push Docker images
        uses: docker/build-push-action@v6.9.0
        with:
          context: .
          file: ./segurancaPublica/segurancaPublica/Dockerfile
          push: true
          tags: |
            fernandabucci1910/publicaseguranca:${{ github.run_number }}
            fernandabucci1910/publicaseguranca:latest

  CD:
    needs: [CI]
    runs-on: ubuntu-latest
    steps: 
      - name: Obter código
        uses: actions/checkout@v4.2.0

      - name: Set up Docker Compose
        run: |
          sudo curl -L "https://github.com/docker/compose/releases/download/v2.6.1/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
          sudo chmod +x /usr/local/bin/docker-compose

      - name: Deploy with Docker Compose
        run: |
          docker-compose -f ./docker-compose.yml up -d

          

